@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #0C0F32;
    color: #f2f6f6;
}

footer {
    background-color: #333;
    color: rgb(107, 15, 15);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tituloPrincipal {
    color: #00ffff;
}


.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Croissant One", serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Croissant One", serif;
}

.apresentacao__link {
    display: flex;
    justify-content: space-between;
}

.apresentacao__link__rede {
    background-color: #00ffff;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}